<?xml version="1.0" encoding="utf-8"?>
<!--@POSTPROC: ./proc/post.sh-->
<module>

<Login f="nodata">
  <Login f="noscroll">
    <User t="list" f="user nolabel" l="Control"/>
  </Login>
</Login>

<Control f="nodata">
  <Control f="noscroll">
    <Add_New_Nest t="button" l="Nest"/>
  </Control>
  <search/>
</Control>

<Nest>
  <fmt>{{Box_ID}} - {{Location_Name}} - Nest {{Nest_ID}}</fmt>
  <Nest>
    <cols>
      <Box_ID/>
      <Nest_ID b="decimal" f="nocertainty"/>
    </cols>
    <cols>
      <Location_Name>
        <opts>
          <opt>Gap Hills</opt>
          <opt>Saloon</opt>
          <opt>Sandsone</opt>
          <opt>White Tank</opt>
          <opt>Old Aviary</opt>
          <opt>New Aviary</opt>
          <opt>W19G</opt>
          <opt>W19F</opt>
        </opts>
      </Location_Name>
      <timestamp f="noannotation nocertainty">
        Nest Record Created at
      </timestamp>
    </cols>
    <Box_Status>
      <opts>
        <opt>Empty</opt>
        <opt>Active</opt>
        <opt>Terminated</opt>
        <opt>No Observation</opt>
      </opts>
    </Box_Status>
    <Nest_Completed t="button">
      Nest Found Completed
    </Nest_Completed>
    <Nest_Completed_at f="readonly">
      Date Nest Completed
    </Nest_Completed_at>
    <Set_Day_of_Lay t="button" l="Day_of_Lay">
      Set Day of Last Egg...
    </Set_Day_of_Lay>
    <Day_of_Lay f="readonly"/>
    <Compute_Estimated_Day_of_Hatching t="button"/>
    <Click_Button_for_Automated_Date_Insertion_1 t="webview" f="nolabel"/>
    <Estimated_Day_of_Hatching f="readonly"/>
    <Set_Actual_Day_of_Hatching t="button" l="Actual_Day_of_Hatching">
      Set Actual Day of Hatching...
    </Set_Actual_Day_of_Hatching>
    <Actual_Day_of_Hatching f="readonly noannotation nocertainty"/>
    <Add_Nest_Visit t="button" lc="Nest_Measurement"/>
  </Nest>
  <List_of_Nest_Visits f="noscroll">
    <Update_Visit_list t="button"/>
    <Most_Recent_Three_Nest_Visits f="nodata">
      <!--@POSTPROC turns this into a tableview-->
    </Most_Recent_Three_Nest_Visits>
  </List_of_Nest_Visits>
</Nest>

<Nest_Measurement>
  Nest Visit
  <fmt>{{Box_ID}} - {{Location_Name}} - Nest {{Nest_Measurement_Nest_ID}} - {{timestamp}}</fmt>
  <Nest_Measurement>
    Nest Visit
    <Nest_Measurement_Nest_ID
          f="noannotation nocertainty readonly"
          i="Nest/Nest/Nest_ID">
      Nest ID
    <desc>
      This should be a unique number for this box, please search for the most
      recent record in this box if unsure.
    </desc>
    </Nest_Measurement_Nest_ID>
    <Nest_Status>
      <desc>If near 100%, go visit the next day.</desc>
      <opts>
        <opt>&lt;25%</opt>
        <opt>25-50%</opt>
        <opt>50-75%</opt>
        <opt>75-100%</opt>
      </opts>
    </Nest_Status>
    <cols>
      <Egg_Count b="decimal"/>
      <Hatched_Chick_Count_Live b="decimal"/>
      <Hatched_Chick_Count_Dead b="decimal"/>
    </cols>
    <Egg_Measurements/>
    <Tarsus>
      <desc>TARSUS hfl:1.2;hfr:1.3;hbl:1.5 (unit=mm)</desc>
    </Tarsus>
    <Wing>
      <desc>WING hfl:4.3;hfr:4.5;hbl:4 (unit=mm)</desc>
    </Wing>
    <Weight>
      <desc>WEIGHT hfl:5;hfr:5.1;hbl:4.8 (unit=gr)</desc>
    </Weight>
    <Blood>
      <desc>BLEEDING hfl:yes;hfr:yes;hbl:no</desc>
    </Blood>
    <Notes/>
    <Picture t="camera"/>
  </Nest_Measurement>
  <Vars f="hidden nowire">
    <Box_ID i="Nest/Nest/Box_ID"/>
    <Location_Name i="Nest/Nest/Location_Name">
      <opts>
        <opt>Gap Hills</opt>
        <opt>Saloon</opt>
        <opt>Sandsone</opt>
        <opt>White Tank</opt>
        <opt>Old Aviary</opt>
        <opt>New Aviary</opt>
        <opt>W19G</opt>
        <opt>W19F</opt>
      </opts>
    </Location_Name>
    <timestamp/>
  </Vars>
</Nest_Measurement>

<Day_of_Lay f="nodata">
  Day of Last Egg
  <Day_of_Lay>
    Day of Last Egg
    <Day_of_Lay b="date">
      Day of Last Egg
    </Day_of_Lay>
    <Set_Day_of_Lay t="button">
      Set Day of Last Egg
    </Set_Day_of_Lay>
    <Cancel t="button"/>
  </Day_of_Lay>
</Day_of_Lay>

<Actual_Day_of_Hatching f="nodata">
  <Actual_Day_of_Hatching>
    <Actual_Day_of_Hatching b="date"/>
    <Set_Actual_Day_of_Hatching t="button"/>
    <Cancel t="button"/>
  </Actual_Day_of_Hatching>
</Actual_Day_of_Hatching>

<logic><![CDATA[
  <!--@SOURCE: logic/compute-day-of-hatching-estimate-button.bsh-->
  <!--@SOURCE: logic/actual-day-of-hatching-button.bsh-->
  <!--@SOURCE: logic/nest-completed-button.bsh-->
  <!--@SOURCE: logic/hatched-chick-count-population.bsh-->
  <!--@SOURCE: logic/web-view.bsh-->
  <!--@SOURCE: logic/day-of-lay.bsh-->
  <!--@SOURCE: logic/init-nest-status.bsh-->
  <!--@SOURCE: logic/duplicate-button.bsh-->
  <!--@SOURCE: logic/custom-search.bsh-->
  <!--@SOURCE: logic/limit-nest-visit-3-records.bsh-->
  <!--@SOURCE: logic/sync-disable.bsh-->
]]></logic>
</module>
